x-mihomo-config: &mihomo-config
  image: ghcr.io/metacubex/mihomo:v1.4.3
  build: 
      context: .
      dockerfile: Dockerfile.mihomo
  restart: unless-stopped
  environment:
      - "TZ=Asia/Shanghai"
  networks:
    - proxy_shared_network
  cap_add:
    - NET_ADMIN
  env_file:
    - .env

services:
  # Mihomo 代理核心
  mihomo-node-1:
    <<: *mihomo-config
    container_name: mihomo-node-1
    ports:
      - "127.0.0.1:7771:${MIXED_PORT}"
      - "9191:${API_PORT}"
    volumes:
      - ./mihomo-node-1/config:/root/.config/mihomo

  # Mihomo 代理核心
  # mihomo-node-2:
  #   <<: *mihomo-config
  #   container_name: mihomo-node-2
  #   ports:
  #     - "0.0.0.0:8881:${MIXED_PORT}"
  #     - "9192:${API_PORT}"
  #   volumes:
  #     - ./mihomo-node-2/config:/root/.config/mihomo

  # Web 管理界面
  mihomo-dashboard:
    image: ghcr.io/metacubex/metacubexd:v1.202.1
    container_name: mihomo-dashboard
    restart: unless-stopped
    environment:
      - "TZ=Asia/Shanghai"
    ports:
      - "8011:80"
    env_file:
      - .env

networks:
  proxy_shared_network:
    name: proxy_shared_network
    driver: bridge